# Ignore environment files
.env

# Ignore logs
logs/
*.log

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore compiled Excel output
data/raw_emails/
data/compiled/

# Ignore database files if needed
db/*.db

# Ignore supabase configuration
dashboard/supabase.toml

.streamlit/.secrets.toml

.streamlit/secrets.toml