pandas
openpyxl
streamlit
altair<5
matplotlib
seaborn
google-auth
google-auth-oauthlib
google-api-python-client
toml
psycopg2-binary
pdfkit
fpdf
plotly
weasyprint
kaleido        # <-- needed for fig.write_image()
